form {
font-style: italic;
color: black;

}

h1{
font-size: xx-large;
font-style: italic;
font-family: Georgia, 'Times New Roman', Times, serif;
}

#submitButton {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-style: italic;
}


